<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>
    
    <form action="/madlib">
        Please pick a person:
        <br>
        <input type="radio" name="person" value="Clown">Clown
        <input type="radio" name="person" value="Engineer">Engineer
        <input type="radio" name="person" value="Baby">Baby
        <br>
        <br>
        Please pick a color:
        <br>
        <select name="color">
            <option value="coral">Coral
            <option value="pink">Pink
            <option value="rainbow">Rainbow
        </select>
        <br>
        <br>
        Please pick a noun:
        <br>
        <input type="radio" name="noun" value="Corgi">Corgi
        <input type="radio" name="noun" value="Dolphin">Dolphin
        <input type="radio" name="noun" value="Sloth">Sloth
        <input type="radio" name="noun" value="Alpaca">Alpaca
        <br>
        <br>
        Please pick an adjective:
        <br>
        <select name="adjective">
            <option value="chunky">Chunky
            <option value="dorky">Dorky
            <option value="squishy">Squishy
        </select>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>